{% extends 'base.html' %}
{% block body %}
    

<div class="container my-3">
        <h3>Feedback Form</h3>


        <form method="POST">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3">
                <label for="mobile_no" class="form-label">Mobile Number</label>
                <input type="text" class="form-control" id="mobile_no" name="mobile_no">
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Descritpion</label>
                <input type="text" class="form-control" id="desc" name="desc">
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
    <div class="container my-5">
        <h3>Display Feedbacks</h3>
        <table class="table">

            {% if allfeedbacks|length == 0 %}
            <div class="alert alert-dark" role="alert">no record found</div>
            
            {% else %}

            <thead>
                <tr>
                    <th scope="col">Sr No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile No</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for list in allfeedbacks %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{list.name}}</td>
                    <td>{{list.email}}</td>
                    <td>{{list.mobile_no}}</td>
                    <td>{{list.title}}</td>
                    <td>{{list.desc}}</td>
                    <td>{{list.date_created.date()}}</td>
                    <td>
                        <a href="/update/{{list.sno}}/" type="button"
                            class="btn btn-outline-dark btn-sm mx-1">Update</a>
                        <a href="/delete/{{list.sno}}/" type="button"
                            class="btn btn-outline-dark btn-sm mx-1">Delete</a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}



    </div>
 

    {% endblock body %}